.videocard_container {
  flex-basis: 360px;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.videocard_container_item {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  align-items: center;
  font-size: 10px;
  flex-basis: 360px;
}

.videocard_thumbnail {
  border-radius: 5%;
  height: 205px;
  object-fit: cover;
}

.detail_renderer {
  display: flex;
  flex-basis: 360px;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  height: 100px;
  min-height: 100px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
}

.videocard_left_thumbnail {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  margin-top: 12px;
  border-radius: 50%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 12px;
  margin-top: 12px;
}

.videocard_right {
  display: block;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-x: hidden;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-top: 0px;
}

.videocard_title {
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-family: Roboto, Arial, sans-serif;
  max-height: 44px;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  text-decoration-color: rgb(241, 241, 241);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  color: rgb(241, 241, 241);
  cursor: pointer;
  max-height: 44px;
}

.videocard_right_subdetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-shrink: 1;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.videocard_channel {
  align-items: center;
  align-self: flex-start;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(170, 170, 170);
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-line: none;
}

.videocard_right_statics {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-family: Roboto, Arial, sans-serif;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  white-space: normal;
  color: rgb(170, 170, 170);
}

.videocard_right_statics .videocard_channel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-line: none;
}
