.ytd_searchicon {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  width: 24px;
  font-family: Arial;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 13.3333px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  vertical-align: middle;
  word-spacing: 0px;
  color: rgb(241, 241, 241);
  cursor: pointer;
  text-rendering: auto;
  writing-mode: horizontal-tb;
  fill: rgb(241, 241, 241);
  opacity: 1;
  stroke: none;
}


.yt_icon_svg{
  display: block;
  height :24px;
  overflow-x: hidden;
  overflow-y :hidden;
  width :24px;
  font-family: Arial;
  font-feature-settings: normal;
  font-kerning :auto;
  font-optical-sizing: auto;
  font-size :13.3333px;
  font-stretch: 100%;
  font-style :normal;
  font-variant-alternates: normal;
  font-variant-caps :normal;
  font-variant-east-asian: normal;
  font-variant-ligatures :normal;
  font-variant-numeric :normal;
  font-variation-settings: normal;
  font-weight :400;
  letter-spacing: normal;
  line-height :normal;
  text-align :center;
  text-indent :0px;
  text-shadow :none;
  text-transform: none;
  word-spacing :0px;
  color :rgb(241, 241, 241);
  cursor :pointer;
  text-rendering: auto;
  writing-mode :horizontal-tb;
  fill :rgb(241, 241, 241);
  overflow-clip-margin: content-box;
  pointer-events :none;
  stroke :none;
}

.yt_icon_g{
  display: inline;
height :auto;
width :auto;
font-family: Arial;
font-feature-settings: normal;
font-kerning :auto;
font-optical-sizing: auto;
font-size :13.3333px;
font-stretch: 100%;
font-style :normal;
font-variant-alternates: normal;
font-variant-caps :normal;
font-variant-east-asian: normal;
font-variant-ligatures :normal;
font-variant-numeric :normal;
font-variation-settings: normal;
font-weight :400;
letter-spacing: normal;
line-height :normal;
text-align :center;
text-indent :0px;
text-shadow :none;
text-transform: none;
word-spacing :0px;
color :rgb(241, 241, 241);
cursor :pointer;
text-rendering: auto;
writing-mode :horizontal-tb;
fill :rgb(241, 241, 241);
pointer-events: none;
stroke :none;
transform-origin: 0px 0px;
}