.search_box {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  height: 40px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
}

.search_form {
  display: flex;
  flex-basis: 1e-9px;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  height: 40px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 0, 0);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 0, 0);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 0, 0);
  border-top-style: none;
  border-top-width: 0px;
}

.search_container {
  align-items: center;
  display: flex;
  flex-basis: 1e-9px;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  height: 40px;
  margin-bottom: 0px;
  margin-left: 32px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 4px;
  padding-top: 0px;
  position: relative;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.88);
  background-attachment: scroll;
  webkit-background-clip: border-box;
  background-color: rgb(18, 18, 18);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-size: auto;
  border-bottom-color: rgb(48, 48, 48);
  border-bottom-style: solid;
  border-bottom-width: 0.909091px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(48, 48, 48);
  border-left-style: solid;
  border-left-width: 0.909091px;
  border-right-color: rgba(255, 255, 255, 0.88);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(48, 48, 48);
  border-top-style: solid;
  border-top-width: 0.909091px;
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 2px 0px inset;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 0px;
  caret-color: rgb(241, 241, 241);
}

.search_input {
  display: block;
  height: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  width: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.88);
  background-attachment: scroll;
  webkit-background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  background-origin: padding-box;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-size: auto;
  border-bottom-color: rgba(255, 255, 255, 0.88);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(255, 255, 255, 0.88);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgba(255, 255, 255, 0.88);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgba(255, 255, 255, 0.88);
  border-top-style: none;
  border-top-width: 0px;
  caret-color: rgb(241, 241, 241);
}

.ytd_searchbox {
  box-sizing: border-box;
  display: inline-block;
  flex-basis: 1e-9px;
  flex-grow: 1;
  flex-shrink: 1;
  height: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  max-width: 100%;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1px;
  width: 100%;
  direction: ltr;
  font-family: Roboto, Noto, sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-align: start;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  word-spacing: 0px;
  color: rgba(255, 255, 255, 0.88);
  background-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(255, 255, 255, 0.88);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgba(255, 255, 255, 0.88);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgba(255, 255, 255, 0.88);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgba(255, 255, 255, 0.88);
  border-top-style: none;
  border-top-width: 0px;
  box-shadow: none;
  cursor: text;
  outline-color: rgba(255, 255, 255, 0.88);
  outline-style: none;
  outline-width: 0px;
  -webkit-border-image: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  writing-mode: horizontal-tb;
  appearance: none;
  caret-color: rgb(241, 241, 241);
  unicode-bidi: isolate;
  -webkit-box-flex: 1;
  -webkit-rtl-ordering: logical;
}


.ytd_searchicon{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
box-sizing :border-box;
height :40px;
margin-bottom: 0px;
margin-left :0px;
margin-right :0px;
margin-top :0px;
padding-bottom: 1px;

padding-top :1px;
width :64px;
font-family: Arial;
font-feature-settings: normal;
font-kerning :auto;
font-optical-sizing: auto;
font-size :13.3333px;
font-stretch: 100%;
font-style :normal;
font-variant-alternates: normal;
font-variant-caps :normal;
font-variant-east-asian: normal;
font-variant-ligatures :normal;
font-variant-numeric :normal;
font-variation-settings: normal;
font-weight :400;
letter-spacing: normal;
line-height :normal;
text-align :center;
text-indent :0px;
text-shadow :none;
text-transform :none;
word-spacing :0px;
color :rgb(0, 0, 0);
background-color :rgba(255, 255, 255, 0.08);
border-bottom-color: rgb(48, 48, 48);
border-bottom-style :solid;
border-bottom-width :0.909091px;
border-image-outset :0;
border-image-repeat :stretch;
border-image-slice :100%;
border-image-source: none;
border-image-width :1;
border-left-color :rgb(48, 48, 48);
border-left-style :solid;
border-left-width :0.909091px;
border-right-color :rgb(48, 48, 48);
border-right-style :solid;
border-right-width :0.909091px;
border-top-color :rgb(48, 48, 48);
border-top-style :solid;
border-top-width :0.909091px;
cursor :pointer;
-webkit-border-image: none;
text-rendering :auto;
writing-mode :horizontal-tb;
border-bottom-left-radius: 0px;
border-bottom-right-radius: 40px;
border-top-left-radius :0px;
border-top-right-radius :40px;
}