
#logo-icon {
    align-items: center;
    display: inline-flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    height: 20px;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 14px;
    padding-top: 18px;
    position: relative;
    width: 90px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    text-decoration-thickness: auto;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    cursor: pointer;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    fill: rgb(255, 255, 255);
    stroke: none;
  }
  
  .style-scope ytd-logo {
    align-items: center;
    display: inline-flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    height: 20px;
    justify-content: center;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 18px;
    padding-left: 16px;
    padding-right: 14px;
    padding-top: 18px;
    position: relative;
    width: 90px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    text-decoration-thickness: auto;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    cursor: pointer;
    animation-delay: 0s;
    animation-direction: normal;
    animation-duration: 0s;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-play-state: running;
    animation-timing-function: ease;
    fill: rgb(255, 255, 255);
    stroke: none;
  }
  

  #youtube-paths {
    display: inline;
    height: auto;
    width: auto;
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
    text-decoration-thickness: auto;
    color: rgb(255, 255, 255);
    cursor: pointer;
    fill: rgb(255, 255, 255);
    pointer-events: none;
    stroke: none;
    transform-origin: 0px 0px;
  }
  